secret_key: "abc"

cors:
  allowed-origins: "http://localhost:3000"
  allowed-methods: "GET"
  allowed-headers: "*"
  exposed-headers: "*"

management:
  endpoints:
    web:
      exposure:
        include: ["prometheus"]

server:
  error:
    include-message: always
    include-binding-errors: always
spring:
  flyway:
    enabled: false
    baseline-on-migrate: true
    baseline-version: '0'
    url: jdbc:postgresql://localhost:5431/testdb
    password: admin
    user: admin
    schemas: migrations
    locations: classpath:db/migration/postgresql
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:postgresql://localhost:5431/testdb
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.query.fail_on_pagination_over_collection_fetch: true
      hibernate.format_sql: false
